*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}


:root{

  --hue: 300;

font-size: 62.5%;
--ff-primary: 'Roboto', 'Sans Serif';
--text-color: hsla(calc(var(--hue) + 46), 9%, 89%, 1);
--primary-color:hsla(var(--hue), 72%, 13%, 1);
--input: hsla(calc(var(--hue) - 3), 65%, 7%, 1);
--fav: hsla(calc(var(--hue) + 1), 70%, 25%, 1);
--odd: hsla(calc(var(--hue) + 6), 61%, 6%, 0.5);
--even: hsla(calc(var(--hue) - 6), 65%, 7%, 1);

--fsize: 1.8rem;
--bg: #000000;

}

.sr-only{
 
  position: absolute;
  width: 1x;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

}


body{

  font-size: var(--fsize);
  font-family: var(--ff-primary);
  background-color: var(--bg);
}



#app{

  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8rem 0;
}



.search{

  display: flex;
  align-items: center;

}

.search input {
  width: 46rem;
  color: var(--text-color);
  height: 4.8rem;
  font-size: 1.6rem;
  background-color: var(--input);
  border: none;
  border-radius: 0.5rem ;
  padding: 1.6rem;
  margin-right: 0.8rem;
}

.search button{

  background-color: var(--fav);
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.8rem;
  height: 4.8rem;
  width: 17rem;
  border: none;
  border-radius: 0.5rem ;
  padding: 0 1rem;
  cursor: pointer;
  text-transform: uppercase;
  color: white;

}

.search button:hover{

  background-color: white;
  color: var(--fav);
  

}

.search button:hover path{

  fill: var(--fav);

}


table{

  width: 100%;
  font-size: var(--fsize);
  color: var(--text-color);
  border-collapse: collapse;
  /* border: 1px solid hsla(195, 91%, 25%, 1); */
 
  
}

table th{

  background-color: var(--primary-color);
  text-align: left;

  font-weight: 700;
  padding: 1.5rem;

}



table th:first-child{

  border-top-left-radius: 1rem;
}



table th:last-child{
  border-top-right-radius: 1rem;
}

/* table td:last-child{
  border-bottom-right-radius: 1rem;
}

table td:first-child{
  border-bottom-left-radius: 1rem;
} */


table td{

  padding: 1.5rem;
  text-align: left;

}

table tr:nth-child(odd){
  background-color: var(--odd);
}



table tr:nth-child(even){
  background-color: var(--even);
}

td.user{

  display: flex;
  align-items: center;
  gap: 2rem;
  
}

td.user a{
  text-decoration: none;
  color: var(--text-color);
  
}

td.user a p{
  font-weight: 700;
  margin-bottom: 0.6rem;
}

td.user img{

width: 5rem;
height: 5rem;
object-fit: cover;
border-radius: 20%;
}

td .remove{
  border: none;
  background: none;
  color: hsla(355, 91%, 66%, 1);

  font-weight: 700;
font-size: var(--fsize);
line-height: 160%;
  cursor: pointer;
  font-size: 1.4rem;
}


.nada {
color: hsla(189, 4%, 32%, 1);
font-size: 4rem;
display: flex;
gap: 6rem;
font-weight: 700;
align-items: center;
width: 100%;
justify-content: center;
margin-top: 10rem;


}


