*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{

font-size: 62.5%;
--ff-primary: 'Poppings';
--text-color: #303030;
--hue: 194;
--primary-color: hsl(var(--hue), 100%, 63%);

}

.sr-only{
 
  position: absolute;
  width: 1x;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

}


body{

  font-size: 1.6 rem;
  font-family: 'Poppins';
  background-color: rgb(243, 243, 248);
}



#app{

  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
}

header h1{

  font-size: 2rem;
  text-transform: uppercase;
  
}

.search{

  display: flex;
  align-items: center;

}

.search input {
  height: 3.2rem;
  border: 1px solid #cccccc;
  border-radius: .4rem 0 0 .4rem ;
  padding: 0 .8rem;
}

.search button{

  background-color: var(--primary-color);
  height: 3.2rem;
  border: 1px solid #cccccc;
  border-radius: 0 .4rem .4rem 0 ;
  padding: 0 1rem;
  cursor: pointer;

}

.search button:rover{

  filter: brightness(1.1);

}


table{

  width: 100%;
  font-size: 1.4rem;
  color: var(--text-color);
  border-collapse: collapse;
  box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.3);
}

table th{

  background-color: var(--primary-color);
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;

}

table th:first-child{

  border-top-left-radius: .4rem;
}

table th:last-child{
  border-top-right-radius: 0.4rem;
}


table td{

  padding: 1.5rem;
  text-align: left;

}

table tr:nth-child(odd){
  background-color: #DDDDDD;
}

table tr:nth-child(even){
  background-color: #EEEEEE;
}

td.user{

  display: flex;
  align-items: center;
  gap: 1rem;
  
}

td.user a{
  text-decoration: none;
  color: var(--text-color);
}

td.user a p{
  font-weight: 700;
}

td.user img{

width: 5rem;
height: 5rem;
object-fit: cover;
border-radius: 50%;
}

td .remove{
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

